body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, textarea, select{
  border: 0;
  height: 30 * $onePx;
  line-height: 30 * $onePx;
  background-color: #fff;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="date"]{
  height: 30 * $onePx;
  line-height: 30 * $onePx;
}

.footer {
  height: 100 * $onePx;
  line-height: 100 * $onePx;
  text-align: center;
  background-color: #f2f2f4;
}

select, input {
  width: 210 * $onePx;
  max-width: 210 * $onePx;
}

