body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, input:focus{
  border: none;
  height: 40 * $onePx;
}