*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container .list .list-header .title, .container-fluid .list .list-header .title {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.container .list .list-body .item label, .container-fluid .list .list-body .item label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
}

.container-fluid {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
