@import "grids";
@import "variables";

.container {
  @include container;


  .header {
    nav {
      div{
        @include span(33.3333% no-gutter border-box);
      }
    }
  }

  .all-doc {
    div:nth-child(2n+1) {
      @include span(6 at 1 of 12 border-box);
    }
    div:nth-child(2n+2) {
      @include span(last 6 at 1 of 12 border-box);
    }
  }

  .list{
    .list-body{
      .avatar{
        @include span(first 2 no-gutter);
      }

      .item{
        @include span(last 10 nested);
      }
    }
  }

  .footer {

  }
}

.container-fluid {
  @extend .container;
  @include full;
}