//circle imgage
@mixin avatar() {
  $height: 80 * $onePx;
  $width: 80 * $onePx;
  @include border-radius($height, $width);
  height: $height;
  width: $width;
  padding: 0;
  //background: #ffffff url($imageUrl) no-repeat center center transparent;
}