@import "layouts/add-project-layout-detail";
@import "config/global";
@import "compass";
@import "config/mixins";

.container {
  @include container;
  .list {
    @include list;
  }

  .apply-for{
    @include apply-for;
    @include box-shadow(#5b8de4, 5px, 5px, 10px);
    position: fixed;
    right: 15 * $onePx;
    bottom: 15 * $onePx;
    font-size: 40 * $onePx;
    color: #fff;
    i{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

.container-fluid {
  @extend .container;
}