*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container .list .list-header .title, .container-fluid .list .list-header .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.container .list .list-header .project-count, .container-fluid .list .list-header .project-count {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  margin-right: 0;
}

.container-fluid {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, input:focus {
  border: 0;
  height: 2.5rem;
  background-color: #fff;
}

.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container .list, .container-fluid .list {
  font-size: 0.75rem;
  overflow: hidden;
}
.container .list .list-header, .container-fluid .list .list-header {
  height: 1.5625rem;
  line-height: 1.5625rem;
  background-color: #f2f2f4;
  padding: 0 0.9375rem;
}
.container .list .list-header .title, .container-fluid .list .list-header .title {
  font-size: 0.75rem;
  color: #000;
}
.container .list .list-header .project-count, .container-fluid .list .list-header .project-count {
  text-align: right;
  color: #5b8de4;
}
.container .list .list-body, .container-fluid .list .list-body {
  font-size: 0.875rem;
  padding: 0.3125rem 0;
}
.container .list .list-body .item, .container-fluid .list .list-body .item {
  box-sizing: content-box;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.3125rem;
  padding: 0 0 0.3125rem 0.9375rem;
  border-bottom: 0.03125rem solid #cdcdd3;
}
.container .list .list-body .item .i-checkbox, .container-fluid .list .list-body .item .i-checkbox, .container .list .list-body .item .i-checkbox-unchecked, .container-fluid .list .list-body .item .i-checkbox-unchecked, .container .list .list-body .item .i-checkbox-checked, .container-fluid .list .list-body .item .i-checkbox-checked {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: 0 0.9375rem 0 0;
  position: relative;
  color: #fff;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  background-color: #ccc;
  display: inline-block;
}
.container .list .list-body .item .i-checkbox-checked, .container-fluid .list .list-body .item .i-checkbox-checked {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 16px;
  width: 16px;
  background-color: #5b8de4;
  display: inline-block;
}
.container .list .list-body .item .avatar, .container-fluid .list .list-body .item .avatar, .container .list .list-body .item .avatar-a, .container-fluid .list .list-body .item .avatar-a, .container .list .list-body .item .avatar-b, .container-fluid .list .list-body .item .avatar-b, .container .list .list-body .item .avatar-c, .container-fluid .list .list-body .item .avatar-c, .container .list .list-body .item .avatar-d, .container-fluid .list .list-body .item .avatar-d, .container .list .list-body .item .avatar-e, .container-fluid .list .list-body .item .avatar-e, .container .list .list-body .item .avatar-f, .container-fluid .list .list-body .item .avatar-f {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
}
.container .list .list-body .item .avatar-a, .container-fluid .list .list-body .item .avatar-a {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ab703b;
  display: inline-block;
}
.container .list .list-body .item .avatar-b, .container-fluid .list .list-body .item .avatar-b {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #49c6d3;
  display: inline-block;
}
.container .list .list-body .item .avatar-c, .container-fluid .list .list-body .item .avatar-c {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f55b23;
  display: inline-block;
}
.container .list .list-body .item .avatar-d, .container-fluid .list .list-body .item .avatar-d {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f5a623;
  display: inline-block;
}
.container .list .list-body .item .avatar-e, .container-fluid .list .list-body .item .avatar-e {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #7ed321;
  display: inline-block;
}
.container .list .list-body .item .avatar-f, .container-fluid .list .list-body .item .avatar-f {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #5576d7;
  display: inline-block;
}
.container .list .list-body .item .description, .container-fluid .list .list-body .item .description {
  display: inline-block;
  padding: 0 0 0 0.625rem;
  border-bottom: 0.03125rem solid #cdcdd3;
}
.container .list .list-body .item .description:last-child, .container-fluid .list .list-body .item .description:last-child {
  border-bottom: none;
  vertical-align: top;
}
.container .list .list-body .item:last-child, .container-fluid .list .list-body .item:last-child {
  border-bottom: none;
}
.container .apply-for, .container-fluid .apply-for {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  background-color: #5b8de4;
  display: inline-block;
  -moz-box-shadow: #5b8de4, 5px, 5px, 10px;
  -webkit-box-shadow: #5b8de4, 5px, 5px, 10px;
  box-shadow: #5b8de4, 5px, 5px, 10px;
  position: fixed;
  right: 0.9375rem;
  bottom: 0.9375rem;
  font-size: 2.5rem;
  color: #fff;
}
.container .apply-for i, .container-fluid .apply-for i {
  position: absolute;
  top: 10px;
  left: 10px;
}
