*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main:after {
  content: " ";
  display: block;
  clear: both;
}
.main .products .operate .add-sub {
  width: 50%;
  float: left;
}
.main .products .operate .del {
  width: 50%;
  float: right;
  margin-right: 0;
}
.main .detail .list-header .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.main .detail .list-header .project-count {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  margin-right: 0;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, textarea, select {
  border: 0;
  height: 1.875rem;
  line-height: 1.875rem;
  background-color: #fff;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="date"] {
  height: 1.875rem;
  line-height: 1.875rem;
}

.footer {
  height: 9.375rem;
  line-height: 9.375rem;
  text-align: center;
  background-color: #f2f2f4;
}

select, input {
  width: 13.125rem;
  max-width: 13.125rem;
}

.modal-body {
  padding: 0;
}

.container .base .list-header {
  padding: 0 0.9375rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  background-color: #f2f2f4;
}
.container .base .list-header .title {
  font-size: 0.75rem;
  color: #2d3646;
}
.container .base .list-body {
  padding: 0 0 0 0.9375rem;
  font-size: 0.875rem;
  box-sizing: border-box;
}
.container .base .list-body .item {
  height: 2.8125rem;
  line-height: 2.8125rem;
  border-bottom: 0.03125rem solid #cdcdd3;
  box-sizing: border-box;
  position: relative;
}
.container .base .list-body .item .name {
  font-size: 0.875rem;
  color: #4a4a4a;
  margin-right: 0.9375rem;
}
.container .base .list-body .item:last-child {
  border-bottom: none;
}
.container .products {
  font-size: 0.75rem;
  overflow: hidden;
}
.container .products .operate {
  padding: 0 0.9375rem;
  height: 3.4375rem;
  line-height: 3.125rem;
  border-bottom: 0.03125rem solid #cdcdd3;
}
.container .products .operate .add-sub {
  position: relative;
  color: #999999;
  font-size: 1.875rem;
}
.container .products .operate .add-sub .add {
  position: absolute;
  left: 0;
  top: 0.625rem;
}
.container .products .operate .add-sub .sub {
  position: absolute;
  left: 2.5rem;
  top: 0.625rem;
}
.container .products .operate .del {
  text-align: right;
  color: #f55b23;
}
.container .products .operate .del span {
  cursor: pointer;
}
.container .products .list-header {
  height: 1.5625rem;
  line-height: 1.5625rem;
  background-color: #f2f2f4;
  padding: 0 0.9375rem;
}
.container .products .list-header .title {
  font-size: 0.75rem;
  color: #000;
}
.container .products .list-header .project-count {
  text-align: right;
  color: #5b8de4;
}
.container .products .list-body {
  font-size: 0.875rem;
  padding: 0.3125rem 0;
}
.container .products .list-body .item {
  box-sizing: content-box;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0.3125rem 0.9375rem 0.3125rem 0.9375rem;
  border-bottom: 0.03125rem solid #cdcdd3;
}
.container .products .list-body .item .i-checkbox, .container .products .list-body .item .i-checkbox-unchecked, .container .products .list-body .item .i-checkbox-checked {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: 0 0.9375rem 0 0;
  position: relative;
  color: #fff;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  background-color: #ccc;
  display: inline-block;
}
.container .products .list-body .item .i-checkbox-checked {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 16px;
  width: 16px;
  background-color: #5b8de4;
  display: inline-block;
}
.container .products .list-body .item .avatar, .container .products .list-body .item .avatar-a, .container .products .list-body .item .avatar-b, .container .products .list-body .item .avatar-c, .container .products .list-body .item .avatar-d, .container .products .list-body .item .avatar-e, .container .products .list-body .item .avatar-f {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
}
.container .products .list-body .item .avatar-a {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ab703b;
  display: inline-block;
}
.container .products .list-body .item .avatar-b {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #49c6d3;
  display: inline-block;
}
.container .products .list-body .item .avatar-c {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f55b23;
  display: inline-block;
}
.container .products .list-body .item .avatar-d {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f5a623;
  display: inline-block;
}
.container .products .list-body .item .avatar-e {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #7ed321;
  display: inline-block;
}
.container .products .list-body .item .avatar-f {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #5576d7;
  display: inline-block;
}
.container .products .list-body .item .description {
  display: inline-block;
  padding: 0 0 0 0.625rem;
}
.container .products .list-body .item .description:last-child {
  border-bottom: none;
  vertical-align: top;
}
.container .products .list-body .item .number {
  float: right;
  width: 5rem;
  max-width: 80px;
  margin-right: 15px;
}
.container .products .list-body .item:last-child {
  border-bottom: none;
}
.container .description .list-header {
  padding: 0 0.9375rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  background-color: #f2f2f4;
}
.container .description .list-header .title {
  font-size: 0.75rem;
  color: #2d3646;
}
.container .description .list-body {
  padding: 0 0.9375rem;
  height: 9.0625rem;
}
.container .description .list-body .item {
  padding: 1rem 0;
}
.container .description .list-body .item textarea {
  width: 100%;
}
.container .apply-for {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  background-color: #5b8de4;
  display: inline-block;
  -moz-box-shadow: #5b8de4, 5px, 5px, 10px;
  -webkit-box-shadow: #5b8de4, 5px, 5px, 10px;
  box-shadow: #5b8de4, 5px, 5px, 10px;
  position: fixed;
  right: 0.9375rem;
  bottom: 0.9375rem;
  font-size: 2.5rem;
  color: #fff;
}
.container .apply-for i {
  position: absolute;
  top: 10px;
  left: 10px;
}
