.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container .header nav div, .container-fluid .header nav div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333%;
  float: left;
}
.container .header .title, .container-fluid .header .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.container .header .project-count, .container-fluid .header .project-count {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.container .all-doc div:nth-child(2n+1), .container-fluid .all-doc div:nth-child(2n+1) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.container .all-doc div:nth-child(2n+2), .container-fluid .all-doc div:nth-child(2n+2) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.15254%;
  float: right;
  margin-right: 0;
}
.container .list .list-body .avatar, .container-fluid .list .list-body .avatar {
  width: 15.25424%;
  float: left;
}
.container .list .list-body .item, .container-fluid .list .list-body .item {
  width: 83.05085%;
  float: right;
  margin-right: 0;
}

.container-fluid {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, input:focus {
  border: none;
}

.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container .header, .container-fluid .header {
  height: 2.5rem;
}
.container .header div, .container-fluid .header div {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 0.75rem;
}
.container .header div:nth-child(3n+1), .container-fluid .header div:nth-child(3n+1) {
  color: #5b8de4;
  border-bottom-color: #5b8de4;
  border-bottom-width: 0.375rem;
  border-bottom-style: solid;
}
.container .all-doc, .container-fluid .all-doc {
  height: 2.8125rem;
  background-color: #ffffff;
}
.container .all-doc div, .container-fluid .all-doc div {
  height: 2.8125rem;
  line-height: 2.8125rem;
  padding: 0 1.875rem;
  font-size: 0.875rem;
}
.container .all-doc div:nth-child(2n+1), .container-fluid .all-doc div:nth-child(2n+1) {
  text-align: left;
}
.container .all-doc div:nth-child(2n+2), .container-fluid .all-doc div:nth-child(2n+2) {
  text-align: right;
}
.container .all-doc div:nth-child(2n+2) span, .container-fluid .all-doc div:nth-child(2n+2) span {
  display: inline-block;
  line-height: 2.25rem;
  text-align: center;
}
.container .all-doc div:nth-child(2n+2) span:nth-child(2n+1), .container-fluid .all-doc div:nth-child(2n+2) span:nth-child(2n+1) {
  height: 2.25rem;
  width: 4.5rem;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  background-color: #5b8de4;
  font-weight: 500;
  color: #ffffff;
}
.container .all-doc div:nth-child(2n+2) span:nth-child(2n+2), .container-fluid .all-doc div:nth-child(2n+2) span:nth-child(2n+2) {
  font-weight: 500;
  color: #cdcdd3;
}
.container .list, .container-fluid .list {
  font-size: 0.75rem;
}
.container .list .list-header, .container-fluid .list .list-header {
  height: 1.5625rem;
  line-height: 1.5625rem;
  background-color: #f2f2f4;
}
.container .list .list-body, .container-fluid .list .list-body {
  height: 3.125rem;
  line-height: 3.125rem;
  box-sizing: border-box;
}
.container .list .list-body .avatar, .container-fluid .list .list-body .avatar {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 5rem;
  background-color: #5b8de4;
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ccc;
  display: inline-block;
  font-size: 1.125rem;
  color: #fff;
}
