/* line 21, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../sass/layouts/_info-aptitude.scss */
.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.main:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 7, ../../sass/layouts/_info-aptitude.scss */
.main nav div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333%;
  float: left;
}
/* line 12, ../../sass/layouts/_info-aptitude.scss */
.main .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 16, ../../sass/layouts/_info-aptitude.scss */
.main .project-count {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 21, ../../sass/layouts/_info-aptitude.scss */
.main .all-doc div:nth-child(2n+1) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 24, ../../sass/layouts/_info-aptitude.scss */
.main .all-doc div:nth-child(2n+2) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  margin-right: 0;
}
/* line 33, ../../sass/layouts/_info-aptitude.scss */
.main .aptitude-list .item .list-header .logo, .main .aptitude-list .item-product-level .list-header .logo, .main .aptitude-list .item-company-level .list-header .logo, .main .aptitude-list .item-other-level .list-header .logo {
  width: 50%;
  float: left;
}
/* line 36, ../../sass/layouts/_info-aptitude.scss */
.main .aptitude-list .item .list-header .number, .main .aptitude-list .item-product-level .list-header .number, .main .aptitude-list .item-company-level .list-header .number, .main .aptitude-list .item-other-level .list-header .number {
  width: 50%;
  float: right;
  margin-right: 0;
}
/* line 42, ../../sass/layouts/_info-aptitude.scss */
.main .aptitude-list .item .list-body .title, .main .aptitude-list .item-product-level .list-body .title, .main .aptitude-list .item-company-level .list-body .title, .main .aptitude-list .item-other-level .list-body .title {
  width: 50%;
  float: left;
}
/* line 45, ../../sass/layouts/_info-aptitude.scss */
.main .aptitude-list .item .list-body .view, .main .aptitude-list .item-product-level .list-body .view, .main .aptitude-list .item-company-level .list-body .view, .main .aptitude-list .item-other-level .list-body .view {
  width: 50%;
  float: right;
  margin-right: 0;
}

/* line 1, ../../sass/config/_global.scss */
body {
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* line 6, ../../sass/config/_global.scss */
ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 12, ../../sass/config/_global.scss */
input, select, textarea {
  border: 0;
  background-color: #fff;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* line 20, ../../sass/config/_global.scss */
input, select {
  height: 1.875rem;
  line-height: 1.875rem;
}

/* line 25, ../../sass/config/_global.scss */
input[type="date"] {
  height: 1.875rem;
  line-height: 1.875rem;
}

/* line 30, ../../sass/config/_global.scss */
.footer {
  height: 9.375rem;
  line-height: 9.375rem;
  text-align: center;
  background-color: #f2f2f4;
}

/* line 37, ../../sass/config/_global.scss */
select, input {
  width: 13.125rem;
  max-width: 13.125rem;
}

/* line 43, ../../sass/config/_global.scss */
.modal-body {
  padding: 0;
}

/* line 47, ../../sass/config/_global.scss */
.modal-footer {
  text-align: center;
}

/* line 52, ../../sass/config/_global.scss */
.list-header .title {
  font-weight: bold;
}

/* line 6, ../../sass/info-aptitude.scss */
.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.main:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 9, ../../sass/info-aptitude.scss */
.main nav {
  height: 3.125rem;
  font-weight: bold;
}
/* line 12, ../../sass/info-aptitude.scss */
.main nav div {
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 0.875rem;
  cursor: pointer;
  color: #999999;
}
/* line 21, ../../sass/info-aptitude.scss */
.main nav div.nav-active {
  color: #5b8de4;
  border-bottom-color: #5b8de4;
  border-bottom-width: 0.375rem;
  border-bottom-style: solid;
}
/* line 29, ../../sass/info-aptitude.scss */
.main .all-doc {
  height: 2.8125rem;
  background-color: #ffffff;
}
/* line 32, ../../sass/info-aptitude.scss */
.main .all-doc div {
  height: 2.8125rem;
  line-height: 2.8125rem;
  padding: 0 1.875rem;
  font-size: 0.875rem;
}
/* line 39, ../../sass/info-aptitude.scss */
.main .all-doc div:nth-child(2n+1) {
  text-align: left;
}
/* line 43, ../../sass/info-aptitude.scss */
.main .all-doc div:nth-child(2n+2) {
  text-align: right;
  position: relative;
}
/* line 46, ../../sass/info-aptitude.scss */
.main .all-doc div:nth-child(2n+2) span {
  line-height: 2.25rem;
  text-align: right;
  display: inline-block;
}
/* line 51, ../../sass/info-aptitude.scss */
.main .all-doc div:nth-child(2n+2) span:nth-child(2n+1) {
  margin-right: 0.5rem;
  color: #fff;
  background-color: #5b8de4;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  padding: 0 0.9375rem;
  font-size: 0.875rem;
  font-weight: bold;
}
/* line 60, ../../sass/info-aptitude.scss */
.main .all-doc div:nth-child(2n+2) span:nth-child(2n+2) {
  color: #cdcdd3;
  position: absolute;
  right: 1.25rem;
}
/* line 69, ../../sass/info-aptitude.scss */
.main .aptitude-list {
  padding: 0.9375rem;
}
/* line 72, ../../sass/info-aptitude.scss */
.main .aptitude-list .item, .main .aptitude-list .item-product-level, .main .aptitude-list .item-company-level, .main .aptitude-list .item-other-level {
  height: 7.8125rem;
  line-height: 7.8125rem;
  display: block;
  margin-bottom: 0.9375rem;
  -moz-border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
  -moz-box-shadow: 0 1px 8px 0 rgba(57, 91, 149, 0.2);
  -webkit-box-shadow: 0 1px 8px 0 rgba(57, 91, 149, 0.2);
  box-shadow: 0 1px 8px 0 rgba(57, 91, 149, 0.2);
}
/* line 80, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header, .main .aptitude-list .item-product-level .list-header, .main .aptitude-list .item-company-level .list-header, .main .aptitude-list .item-other-level .list-header {
  padding: 1.09375rem;
  height: 4.6875rem;
  line-height: 4.6875rem;
  position: relative;
  color: #fff;
  -moz-border-radius: 0.625rem 0.625rem 0 0;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem 0.625rem 0 0;
}
/* line 87, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header .logo, .main .aptitude-list .item-product-level .list-header .logo, .main .aptitude-list .item-company-level .list-header .logo, .main .aptitude-list .item-other-level .list-header .logo {
  height: 2.5rem;
}
/* line 89, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header .logo i, .main .aptitude-list .item-product-level .list-header .logo i, .main .aptitude-list .item-company-level .list-header .logo i, .main .aptitude-list .item-other-level .list-header .logo i {
  font-size: 40px;
  top: 1.375rem;
  left: 1.125rem;
}
/* line 96, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header .number, .main .aptitude-list .item-product-level .list-header .number, .main .aptitude-list .item-company-level .list-header .number, .main .aptitude-list .item-other-level .list-header .number {
  height: 2.5rem;
  font-weight: bold;
}
/* line 99, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header .number div, .main .aptitude-list .item-product-level .list-header .number div, .main .aptitude-list .item-company-level .list-header .number div, .main .aptitude-list .item-other-level .list-header .number div {
  position: absolute;
  height: 1.25rem;
  display: inline-block;
  right: 1.125rem;
}
/* line 106, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header .number div:nth-child(2n+1), .main .aptitude-list .item-product-level .list-header .number div:nth-child(2n+1), .main .aptitude-list .item-company-level .list-header .number div:nth-child(2n+1), .main .aptitude-list .item-other-level .list-header .number div:nth-child(2n+1) {
  top: -0.625rem;
  font-size: 24px;
}
/* line 111, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-header .number div:nth-child(2n+2), .main .aptitude-list .item-product-level .list-header .number div:nth-child(2n+2), .main .aptitude-list .item-company-level .list-header .number div:nth-child(2n+2), .main .aptitude-list .item-other-level .list-header .number div:nth-child(2n+2) {
  top: 0.9375rem;
}
/* line 118, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-body, .main .aptitude-list .item-product-level .list-body, .main .aptitude-list .item-company-level .list-body, .main .aptitude-list .item-other-level .list-body {
  padding: 0.5rem 1.25rem;
  height: 3.125rem;
  line-height: 3.125rem;
}
/* line 123, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-body .title, .main .aptitude-list .item-product-level .list-body .title, .main .aptitude-list .item-company-level .list-body .title, .main .aptitude-list .item-other-level .list-body .title {
  color: #4a4a4a;
  width: 50%;
  float: left;
  height: 2.1875rem;
  line-height: 2.1875rem;
}
/* line 130, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-body .view, .main .aptitude-list .item-product-level .list-body .view, .main .aptitude-list .item-company-level .list-body .view, .main .aptitude-list .item-other-level .list-body .view {
  position: relative;
}
/* line 132, ../../sass/info-aptitude.scss */
.main .aptitude-list .item .list-body .view i, .main .aptitude-list .item-product-level .list-body .view i, .main .aptitude-list .item-company-level .list-body .view i, .main .aptitude-list .item-other-level .list-body .view i {
  font-size: 30px;
  color: #cdcdd3;
  text-align: right;
  right: 0;
}
/* line 144, ../../sass/info-aptitude.scss */
.main .aptitude-list .item-product-level .list-header {
  background-color: #fd702f;
}
/* line 151, ../../sass/info-aptitude.scss */
.main .aptitude-list .item-company-level .list-header {
  background-color: #2acc84;
}
/* line 158, ../../sass/info-aptitude.scss */
.main .aptitude-list .item-other-level .list-header {
  background-color: #845ddd;
}
/* line 164, ../../sass/info-aptitude.scss */
.main .aptitude-list .item:last-child, .main .aptitude-list .item-product-level:last-child, .main .aptitude-list .item-company-level:last-child, .main .aptitude-list .item-other-level:last-child {
  margin-bottom: 0;
}
