*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main:after {
  content: " ";
  display: block;
  clear: both;
}
.main nav div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333%;
  float: left;
}
.main .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.main .project-count {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.main .all-doc div:nth-child(2n+1) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.main .all-doc div:nth-child(2n+2) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  margin-right: 0;
}

.container-fluid {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, textarea, select {
  border: 0;
  height: 1.875rem;
  line-height: 1.875rem;
  background-color: #fff;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="date"] {
  height: 1.875rem;
  line-height: 1.875rem;
}

.footer {
  height: 9.375rem;
  line-height: 9.375rem;
  text-align: center;
  background-color: #f2f2f4;
}

select, input {
  width: 13.125rem;
  max-width: 13.125rem;
}

.modal-body {
  padding: 0;
}

.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container nav, .container-fluid nav {
  height: 3.125rem;
}
.container nav div, .container-fluid nav div {
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 0.875rem;
  cursor: pointer;
}
.container nav div.nav-active, .container-fluid nav div.nav-active {
  color: #5b8de4;
  border-bottom-color: #5b8de4;
  border-bottom-width: 0.375rem;
  border-bottom-style: solid;
}
.container .all-doc, .container-fluid .all-doc {
  height: 2.8125rem;
  background-color: #ffffff;
}
.container .all-doc div, .container-fluid .all-doc div {
  height: 2.8125rem;
  line-height: 2.8125rem;
  padding: 0 1.875rem;
  font-size: 0.875rem;
}
.container .all-doc div:nth-child(2n+1), .container-fluid .all-doc div:nth-child(2n+1) {
  text-align: left;
}
.container .all-doc div:nth-child(2n+2), .container-fluid .all-doc div:nth-child(2n+2) {
  text-align: right;
  position: relative;
}
.container .all-doc div:nth-child(2n+2) span, .container-fluid .all-doc div:nth-child(2n+2) span {
  line-height: 2.25rem;
  text-align: right;
  display: inline-block;
}
.container .all-doc div:nth-child(2n+2) span:nth-child(2n+1), .container-fluid .all-doc div:nth-child(2n+2) span:nth-child(2n+1) {
  color: #5b8de4;
  position: absolute;
  right: 2.25rem;
}
.container .all-doc div:nth-child(2n+2) span:nth-child(2n+2), .container-fluid .all-doc div:nth-child(2n+2) span:nth-child(2n+2) {
  color: #cdcdd3;
  position: absolute;
  right: 1.25rem;
}
.container .list, .container-fluid .list {
  font-size: 0.75rem;
  overflow: hidden;
}
.container .list .list-header, .container-fluid .list .list-header {
  height: 25px;
  line-height: 25px;
  background-color: #f2f2f4;
  padding: 0 0.9375rem;
}
.container .list .list-header .title, .container-fluid .list .list-header .title {
  font-size: 0.75rem;
  color: #2d3646;
}
.container .list .list-header .project-count, .container-fluid .list .list-header .project-count {
  text-align: right;
  color: #5b8de4;
}
.container .list .list-body, .container-fluid .list .list-body {
  font-size: 0.875rem;
  padding: 0.3125rem 0;
}
.container .list .list-body .item, .container-fluid .list .list-body .item {
  box-sizing: content-box;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.3125rem;
  padding: 0 0 0.3125rem 0.9375rem;
  border-bottom: 0.03125rem solid #cdcdd3;
}
.container .list .list-body .item .i-checkbox, .container-fluid .list .list-body .item .i-checkbox, .container .list .list-body .item .i-checkbox-unchecked, .container-fluid .list .list-body .item .i-checkbox-unchecked, .container .list .list-body .item .i-checkbox-checked, .container-fluid .list .list-body .item .i-checkbox-checked {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: 0 0.9375rem 0 0;
  position: relative;
  color: #fff;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  background-color: #ccc;
  display: inline-block;
}
.container .list .list-body .item .i-checkbox-checked, .container-fluid .list .list-body .item .i-checkbox-checked {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 16px;
  width: 16px;
  background-color: #5b8de4;
  display: inline-block;
}
.container .list .list-body .item .avatar, .container-fluid .list .list-body .item .avatar, .container .list .list-body .item .avatar-a, .container-fluid .list .list-body .item .avatar-a, .container .list .list-body .item .avatar-b, .container-fluid .list .list-body .item .avatar-b, .container .list .list-body .item .avatar-c, .container-fluid .list .list-body .item .avatar-c, .container .list .list-body .item .avatar-d, .container-fluid .list .list-body .item .avatar-d, .container .list .list-body .item .avatar-e, .container-fluid .list .list-body .item .avatar-e, .container .list .list-body .item .avatar-f, .container-fluid .list .list-body .item .avatar-f {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
}
.container .list .list-body .item .avatar-a, .container-fluid .list .list-body .item .avatar-a {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ab703b;
  display: inline-block;
}
.container .list .list-body .item .avatar-b, .container-fluid .list .list-body .item .avatar-b {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #49c6d3;
  display: inline-block;
}
.container .list .list-body .item .avatar-c, .container-fluid .list .list-body .item .avatar-c {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f55b23;
  display: inline-block;
}
.container .list .list-body .item .avatar-d, .container-fluid .list .list-body .item .avatar-d {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f5a623;
  display: inline-block;
}
.container .list .list-body .item .avatar-e, .container-fluid .list .list-body .item .avatar-e {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #7ed321;
  display: inline-block;
}
.container .list .list-body .item .avatar-f, .container-fluid .list .list-body .item .avatar-f {
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #5576d7;
  display: inline-block;
}
.container .list .list-body .item .description, .container-fluid .list .list-body .item .description {
  display: inline-block;
  padding: 0 0 0 0.625rem;
  border-bottom: 0.03125rem solid #cdcdd3;
}
.container .list .list-body .item .description:last-child, .container-fluid .list .list-body .item .description:last-child {
  border-bottom: none;
  vertical-align: top;
}
.container .list .list-body .item:last-child, .container-fluid .list .list-body .item:last-child {
  border-bottom: none;
}
