header {
  height: 10rem;
  background: #2F94B2;
  margin-bottom: 1em;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.hero {
  height: 10rem;
  margin-bottom: 1em;
}
.hero h3, .hero h2 {
  margin: 1em;
}
.hero .one {
  background: #FF739C;
  height: 100%;
}
.hero .two {
  height: 100%;
}
.hero .two div {
  height: 100%;
  background: #CCC136;
}

.content h3 {
  margin: 10px;
}
.content div {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content div:nth-child(3n) {
  background: #2F94B2;
}
.content div:nth-child(3n+1) {
  background: #FF7311;
}
.content div:nth-child(3n+2) {
  background: #5DD9FF;
}

.page {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page:after {
  content: " ";
  display: block;
  clear: both;
}

header {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.hero {
  clear: both;
}
@media (max-width: 768px) {
  .hero .one {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .hero .one {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (max-width: 768px) {
  .hero .two {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .hero .two {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}
.hero .two div:nth-child(4n+1) {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
}
.hero .two div:nth-child(4n+2) {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
}
.hero .two div:nth-child(4n+3) {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
}
.hero .two div:nth-child(4n) {
  width: 23.07692%;
  float: right;
  margin-right: 0;
}
.hero .two div:nth-child(4) {
  width: 23.07692%;
  float: right;
  margin-right: 0;
}

.content div {
  width: 32.20339%;
  float: left;
}
.content div:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.content div:nth-child(3n + 2) {
  margin-left: 33.89831%;
  margin-right: -100%;
  clear: none;
}
.content div:nth-child(3n + 3) {
  margin-left: 67.79661%;
  margin-right: -100%;
  clear: none;
}
