.container, .container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after, .container-fluid:after {
  content: " ";
  display: block;
  clear: both;
}
.container .header div:nth-child(3n), .container-fluid .header div:nth-child(3n) {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.container .header div:nth-child(3n+1), .container-fluid .header div:nth-child(3n+1) {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.container .header div:nth-child(3n+2), .container-fluid .header div:nth-child(3n+2) {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.container .all-doc div:nth-child(2n+1), .container-fluid .all-doc div:nth-child(2n+1) {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.container .all-doc div:nth-child(2n+2), .container-fluid .all-doc div:nth-child(2n+2) {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

.container-fluid {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
